<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>基于姿态辅助的轻量化驾驶分心监测辅助监测平台</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='static/logo.svg') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/clear.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/app.css') }}"
    />
    <script
      type="module"
      src="{{ url_for('static', filename='js/validate.js') }}"
    ></script>
  </head>

  <body>
    <nav>
      <ul class="layout nav-container">
        <li>
          <div class="logo-box">
            <img
              src="{{ url_for('static', filename='static/logo.svg') }}"
              alt="logo"
            />
          </div>
          <h1>基于姿态辅助的轻量化驾驶分心监测辅助监测平台</h1>
        </li>
        <li>
          <div class="user-box">
            <img
              src="{{ url_for('static', filename='static/user.svg') }}"
              alt="user"
            />
            <span id="username">用户名</span>
            <ul class="menus">
              <li class="menu-item" id="signOutButton">
                <svg
                  t="1717202777722"
                  class="icon"
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="9412"
                  width="16"
                  height="16"
                >
                  <path
                    d="M512 64c162.2 0 309.3 87 388.7 225 9.4 16.3 3.7 37.1-12.5 46.4-16.1 9.3-36.6 3.9-46.1-12l-0.3-0.5C774.3 205.7 649.6 132 512 132c-209.9 0-380 170.1-380 380s170.1 380 380 380c137.8 0 262.7-74 330-191.4 9.3-16.3 30.1-21.9 46.4-12.6s21.9 30.1 12.6 46.4C821.7 872.8 674.5 960 512 960 264.6 960 64 759.4 64 512S264.6 64 512 64z m318.5 329.8l0.4 0.3 116 90.3c6.8 5.3 11.4 13.1 12.7 21.6 2 12.6-2.9 25.5-13.1 33.6l-0.4 0.3-115.2 89.8c-14.8 11.5-36.2 8.9-47.7-5.9-11.4-14.7-8.9-35.8 5.5-47.4l0.4-0.3 41-31.9H470c-17.7 0-32-14.3-32-32s14.3-32 32-32h360.8l-41.7-32.5c-14.7-11.4-17.4-32.5-6.3-47.3l0.3-0.4c11.5-14.6 32.6-17.3 47.4-6.2z"
                    fill="#A9A9A9"
                    p-id="9413"
                  ></path>
                </svg>
                <span>退出登录</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>

    <section class="layout container">
      <ul class="applications-list"></ul>
    </section>

    <script type="module">
      import {
        auth,
        httpService,
      } from "{{ url_for('static', filename='js/init.js') }}";

      function initUserProfile() {
        const username = document.getElementById("username");
        const userProfile = auth.getUserProfile();
        if (userProfile) {
          username.innerText = userProfile.username;
        }
      }

      function getApps() {
        const applicationsListContainer =
          document.querySelector(".applications-list");
        applicationsListContainer.innerHTML = "";
        httpService.getAll().then((result) => {
          const fragment = document.createDocumentFragment();
          (result.data || []).forEach((element = {}) => {
            const li = document.createElement("li");
            li.classList.add("application");
            li.innerHTML = `
                <p><span>FileName:</span> ${element.filename}</p>
                <p><span>HashID:</span> ${element.md5}</p>
                <p><span>Type:</span> ${element.type}</p>
                <p><span>CreateAt:</span> ${element.created_at}</p>
                
                <button data-action='preview' data-type='${element.type}' data-md5='${element.md5}'>预览结果</button>
                <button data-action='delete' data-type='${element.type}' data-md5='${element.md5}'>删除</button>
                `;
            fragment.appendChild(li);
          });
          applicationsListContainer.appendChild(fragment);
        });
      }

      function handlerListeners() {
        const applicationsListContainer =
          document.querySelector(".applications-list");
        applicationsListContainer.addEventListener("click", (event) => {
          const ele = event.target;
          const action = ele.getAttribute("data-action");
          if (!action) return;
          const type = ele.getAttribute("data-type");
          const md5 = ele.getAttribute("data-md5");

          if (action === "delete" && md5) {
            const delResult = confirm("确定要删除此数据吗?");
            if (delResult) {
              httpService.delete(md5).then((result) => {
                if (result.success) {
                  getApps();
                }
              });
            }
          }

          if(action === 'preview') {
            window.location.href = `index.html?type=${type}&md5=${md5}`
          }
        });
      }

      window.addEventListener("DOMContentLoaded", function () {
        initUserProfile();
        getApps();
        handlerListeners();
      });
    </script>
  </body>
</html>
